.input {
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 17px;
  padding: 2px;
  width: 140px;
  height: 20px;
  border: solid black;
  border-radius: 3px;
  margin: 0 20px 0 20px;
}
.label {
  height: 20px;
  margin: 20px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

.head {
  margin: 50px 150px;
  width: auto;
}
.submit {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: limegreen;
  color: white;
  margin-left: 30px;
}
.span-brown
{
font-size: 27px;
margin-right: 130px;
color: brown;

}